html {
	font-family : "XB Zar";
	font-size : 12px;
	color : #000000;
	background-color:#FFF;
}

body {
    border:0px solid #000000;
	font-family : "XB Zar";
	font-size : 12px;
	padding-top:0%;
    padding-bottom:0%;
    padding-left:00%;
    padding-right:00%;
	color : #000;
	background-color:#FFF;
	text-align : left;
    margin:5px;
}
img {border:0px solid #000000;}

div.logo{display:inline-block;height:270px;width:265px;
    border:0px solid #000000;
    padding:0%;
	font-family : "XB Zar";
	font-size : 12px;
	color : #000000;
	background-color:#FFFFFF;
    margin:0px;
 }


div.kitab{position:absolute;height:270px;width:600px;
    left:50%; margin-left: -301px; 
    top:15%;
    border:1px solid #000000;
    padding:0%;
	font-family : "XB Zar";
	font-size : 12px;
	color : #000000;
	background-color:#FFFFFF;
 }

div.intitule {float:right;vertical-align:top;height:200px;width:48%;display:inline-block;vertical-align:top;
border:0px solid #000000;
	font-family : "XB Zar";
	font-size : 12px;
	color : #000000;
    padding:5px;
    margin:10px;
}

div.fr {display:inline-block;border:0px solid #000000;vertical-align:top;
	font-family : "XB Zar";
	font-size : 24px;
	color : #000000;
	text-align : left;
    direction:ltr;
    padding:0px;
}

div.ar {float:right;border:0px solid #000000;vertical-align:top;
	font-family : "XB Zar";
	font-size : 28px;
	color : #000000;
	text-align : right;
    direction:rtl;
    padding:0px;
}

.rouge {color : #660000;text-decoration:none}

p.ar {
	font-family : "XB Zar";
	font-size : 12px;
	color : #000000;
	text-align : right;
    direction:rtl;
    padding:0px;
}

.ar{direction:rtl;}
a.link:link {color : #006666;text-decoration:none}
a.link:active {color : #CC9900;text-decoration:none}
a.link:visited {color : #660000;text-decoration:none}
a.link:hover {color : #CC9900;text-decoration:none}

a.rouge:link {color : #660000;text-decoration:none}
a.rouge:active {color : #CC9900;text-decoration:none}
a.rouge:visited {color : #660000;text-decoration:none}
a.rouge:hover {color : #CC9900;text-decoration:none}

a:link {color : #000000;text-decoration:none}
a:active {color : #CC9900;text-decoration:none}
a:visited {color : #000000;text-decoration:none}
a:hover {color : #CC9900;text-decoration:none}

div.bibliolat{
   position:relative;bottom:0px;left:0px;
    border:1px solid #000000;
    padding-left:0%;padding-right:0%;
	font-family : "XB Zar";
	font-size : 10px;
	color : #000000;
	background-color:#FFFFFF;
    margin:0px;
	text-align : left;
    direction:ltr;
 }

div.biblioar{
   position:relative;bottom:0px;right:0px;
    border:1px solid #000000;
    padding-left:0%;padding-right:20%;
	font-family : "XB Zar";
	font-size : 10px;
	color : #000000;
	background-color:#FFFFFF;
    margin:0px;
	text-align : right;
    direction:rtl;
 }
 
 div.www{float:right;
  opacity:0.6;
   position:relative;
    border:0px solid #000000;
    padding:0px;margin:0px;
    right:-1.5px;bottom:-2.5px;
}
 div.responsable{float:left;
  opacity:0.8;
   position:relative;
    border:0px solid #000000;
    padding:0px;margin:0px;
    right:-1.5px;bottom:-2.5px;
	font-family : "XB Zar";
	font-size : 9px;
}

div.supervision {display:none;
position:absolute;left:-72px;bottom:60px;
font-size : 14px;border:0px solid #000000;
transform:rotate(-90deg);
}
