html{
    direction:rtl;
    }

body {margin:20px;padding:20px;
 border-width:1px;
 border-style:dotted;
  }

b {font-weight:bold;}

p {display: block; border-width:0px;border-style:dotted;
    padding:0px;
}

li {border-width:0px;border-style:dotted;
    padding:0px;margin:10px;
}

h1 { border-width:0px;margin:0px;
    border-style:dotted;
 }

h2 { border-width:0px;margin:0px;
    border-style:dotted;
 }

a:link {border-width:0px;margin:0px;border-style:dotted;color:#3b446f;background-color:transparent;text-decoration: none}
a:visited {border-width:0px;margin:0px;border-style:dotted;color:#3b446f;background-color:transparent;text-decoration: none}
a:active {border-width:0px;margin:0px;border-style:dotted;color:#000;background-color:transparent;text-decoration: none}
a:hover {border-width:0px;margin:0px;border-style:dotted;color:#bb8e2a;background-color:transparent;text-decoration: none}

.note_bas{
    color:#FF7742;
    background-color:white;
}

.apparat{
    color:#996600;
    background-color:white;
}

.afficher{
display: none;
}

.note_bas:hover .afficher{
color : black;
background-color:#cce6ff;
display : block;
position: fixed;
bottom:0px;
right:0px;
width:100%;
padding:10px;
border-top: 1px solid;
}

.apparat:hover .afficher{
color : black;
background-color:#ffe6cc;
display : block;
position: fixed;
bottom:0px;
right:0px;
width:100%;
padding:10px;
border-top: 1px solid;
}

div.texte {float:left;
width:30%;
    padding:5px;margin:5px;
    color:#000000;
    background-color:#D2D2D2;
	font-size : 14px;
 border-width:1px;
 border-style:dotted;
}

div.menu {position:fixed;top:0px;right:30px;
    padding:0px;
    color:#000;
    background-color:#FFF;
	font-size : 12px;
 border-width:0px;
 border-style:dotted;
}

div.conn {position:fixed;
left:0px;top:0px;
    padding:0px;
    color:#000000;
    background-color:white;
	font-size : 10px;
	 border-width:0px;
 border-style:dotted;
}

#login {width:50px;
    padding:0px;
    color:#000000;
    background-color:white;
	font-size : 10px;
border-width:1px;
 border-style:solid;
}

form {padding:0px;margin:0px;
 border-width:0px;
 border-style:solid;
}

input {
 border-width:2px;
 border-style:solid;
 color:#FFF;
 background-color:#a0a0a0;
 padding: 1px 3px;
}

div.bibliolat{
   position:relative;bottom:0px;left:0px;
    border:0px solid #000000;
    padding:20px;
	font-family : "XB Zar";
	font-size : 14px;
	color : #000000;
	background-color:#FFFFFF;
    margin:20px;
	text-align : left;
    direction:ltr;
 }

div.biblioar{
   position:relative;bottom:0px;right:0px;
    border:0px solid #000000;
    padding:20px;
	font-family : "XB Zar";
	font-size : 14px;
	color : #000000;
	background-color:#FFFFFF;
    margin:20px;
	text-align : right;
    direction:rtl;
 }

div.bibliolat{
   position:relative;bottom:0px;left:0px;
    border:0px solid #000000;
    padding:20px;
	font-size : 14px;
	color : #000000;
	background-color:#FFFFFF;
    margin:20px;
	text-align : left;
    direction:ltr;
 }

div.biblioar{
   position:relative;bottom:0px;right:0px;
   border:0px solid #000000;
   padding:20px;
   font-size : 14px;
	color : #000000;
	background-color:#FFFFFF;
    margin:20px;
	text-align : right;
    direction:rtl;
 }

#latin{
    text-align : left;
    direction:ltr;
 }

#arabe{
	text-align : right;
    direction:rtl;
 }

div.bas{
   position:fixed;bottom:0px;left:0px;
    border:0px solid #000000;
    padding:0px; margin:0px;
	font-size : 9px;
	color : #000000;
	background-color:#FFFFFF;
    direction:rtl;
 }

div.logmodif{
   position:fixed;bottom:0px;right:20px;
    border:0px solid #000000;
    padding:0px; margin:0px;
	font-size : 9px;
	color : #000000;
	background-color:#FFFFFF;
    direction:rtl;
 }

.noselect{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form table select { max-width: 200px; }
form th { width: 127px; text-align: right; font-weight: normal; }

a.statut0:link {color:#fff2e6;}
a.statut0:visited {color:#fff2e6;}
a.statut1:link {color:#ffd7b3;}
a.statut1:visited {color:#ffd7b3;}
a.statut2:link {color:#ffbb80;}
a.statut2:visited {color:#ffbb80;}
a.statut3:link {color:#ffa04d;}
a.statut3:visited {color:#ffa04d;}
a.statut4:link {color:#ff851a;}
a.statut4:visited {color:#ff851a;}
a.statut5:link {color:#e66b00;}
a.statut5:visited {color:#e66b00;}
